TELEGRAM_TOKEN=1211111111:11111111111111111111111111111111111
WEBHOOK_URL=https://domen.ru
WEBHOOK_PATH=/webhook
LISTEN_ADDR=:8080
ADMIN_IDS=1111111111,
DB_PATH=./data/bot.db
XUI_SERVER_ADDR=127.0.0.1
XUI_INBOUND_ID=2
XUI_BASE_URL=https://127.0.0.1:2023
XUI_USERNAME=vpn
XUI_PASSWORD=vpn
GUIDES_DIR=./assets/guides
REMINDER_TZ=Europe/Moscow
REGISTER_WEBHOOK=false
VPN_BOT_IMAGE_TAG=lastest